Day 6

#Dictionaries

In [1]:
# How to create empty dictionaries

a={}
print (a)
print(type(a))

{}
<class 'dict'>

In [3]:

a=dict()
print (a)
print(type(a))

{}
<class 'dict'>

In [7]:
# adding values to the dict

a["Name 1"]="Govind"

In [8]:
a

{'Name 1': 'Govind'}

In [9]:
a["Name 2"]="Praveen"
a["Name 3"]="Harish"
a["Name 4"]="Mukesh"
a

{'Name 1': 'Govind',
 'Name 2': 'Praveen',
 'Name 3': 'Harish',
 'Name 4': 'Mukesh'}

In [10]:
a["Name 2"]

'Praveen'

In [11]:
a.get("Name2","Please enter Right Key")

'Please enter Right Key'

In [16]:
d1={}
d1[111]="hello"
d1[222]=123
d1[333]=[5,6,7]
d1[444]=7.8
d1

{111: 'hello', 222: 123, 333: [5, 6, 7], 444: 7.8}

In [17]:
#using get()

d1[444]

7.8

In [18]:
d1[555]

KeyError: 555

In [21]:
d1.get(555)

In [22]:
d1.get(555,"No Key Exist")

'No Key Exist'

In [24]:
#User define functions
# to extract only keys

d1.keys()

dict_keys([111, 222, 333, 444])

In [25]:
#Only Values

d1.values()

dict_values(['hello', 123, [5, 6, 7], 7.8])

In [26]:
# to extract key and values

d1.items()

dict_items([(111, 'hello'), (222, 123), (333, [5, 6, 7]), (444, 7.8)])

In [27]:
thisdict = {
    "brand": "Ford",
    "electric":False,
    "year":1964,
    "colors":["red","white","blue"]
    
}

In [29]:
thisdict["colors"][1]

'white'

In [35]:
# making dict from scratch and taking

data={}

for i in range(3):
    key=input("Enter Name of Student(Key)")
    value=float(input("Enter Marks of Student(Value)"))
    data.update({key:value})

Enter Name of Student(Key)Govind
Enter Marks of Student(Value)7
Enter Name of Student(Key)PRaveen
Enter Marks of Student(Value)8
Enter Name of Student(Key)Harish
Enter Marks of Student(Value)9

In [34]:
data

{'asdasd': 54.0, 'dsfsdf': 67.0, 'dsfsf': 87.0}

In [36]:
# print only student name

data.keys()

dict_keys(['Govind', 'PRaveen', 'Harish'])

In [37]:
# print only marks

data.values()

dict_values([7.0, 8.0, 9.0])

In [46]:
# print Maximum Marks's 

marks=data.values()
marks

dict_values([7.0, 8.0, 9.0])

In [47]:
#Max
max(marks)

9.0

In [48]:
#Min
min(marks)

7.0

In [57]:
# print Maximum Marks

s=max(data,key=data.get)
print ("Name of the Student scoring max marks:", s)

Name of the Student scoring max marks: Harish

In [59]:
# print Minimum Marks

s1=min(data,key=data.get)
print ("Name of the Student scoring min marks:", s1)

Name of the Student scoring min marks: Govind

In [65]:
# print Maximum Marks

s=max(data,key=data.get)
m=data.get(s)
print (s,"of the Student scoring max marks:", m)

Harish of the Student scoring max marks: 9.0

In [66]:
s_data={
    "Name":"S1",
    "Marks":7,
    "RollNo":12
}
s_data

{'Name': 'S1', 'Marks': 7, 'RollNo': 12}

In [69]:
s_data={}

n=input("Enter Name :")
s_data.update({"Name":n})
m=float(input("Marks :"))
s_data.update({"Marks":m})
r=int(input("Roll Number :"))
s_data.update({"Roll No":r})

Enter Name :Govind
Marks :45
Roll Number :101

In [71]:
s_data

{'Name': 'Govind', 'Marks': 45.0, 'Roll No': 101}

In [76]:
data1={}

n=[]
m=[]
r=[]

for i in range(3):
    name=input("Name :")
    n.append(name)
    marks=float(input("Marks :"))
    m.append(marks)
    roll=int(input("Roll No:"))
    r.append(roll)
    

print(n)

print(m)

print(r)

Name :GOvind
Marks :23
Roll No:1
Name :PRaveen
Marks :24
Roll No:2
Name :Harish
Marks :34
Roll No:3
['GOvind', 'PRaveen', 'Harish']
[23.0, 24.0, 34.0]
[1, 2, 3]

In [78]:
data1.update({"Name":n})
data1.update({"Marks":m})
data1.update({"Roll No":r})

data1

{'Name': ['GOvind', 'PRaveen', 'Harish'],
 'Marks': [23.0, 24.0, 34.0],
 'Roll No': [1, 2, 3]}

In [4]:

a=dict()
a["Name"]="Praveen"
a["Number"]="7976233293"
a

{'Name': 'Praveen', 'Number': '7976233293'}

In [15]:
data1=dict()

for i in range(3):
    n=input("Enter Name :")
    data1.update({i:n})

data1

Enter Name :1
Enter Name :2
Enter Name :3

{0: '1', 1: '2', 2: '3'}

In [16]:
data={}

for i in range(3):
    key=input("Enter Name of Student(Key)")
    value=float(input("Enter Marks of Student(Value)"))
    data.update({key:value})

Enter Name of Student(Key)Praveen
Enter Marks of Student(Value)2
Enter Name of Student(Key)Harish
Enter Marks of Student(Value)3
Enter Name of Student(Key)Mukesh
Enter Marks of Student(Value)4

In [17]:
data

{'Praveen': 2.0, 'Harish': 3.0, 'Mukesh': 4.0}

In [18]:
max(data)

'Praveen'

In [19]:
min(data)

'Harish'

In [21]:
x=min(data,key=data.get)
print(x)

Praveen

In [24]:
y=max(data,key=data.get)
print(y)

Mukesh