#DAY 2

In [1]:

a=5
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)

7
3
10
2.5
25
2

In [2]:
## Comparison Operator

a=78
b=60

print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False

In [3]:
print(a!=b)

True

In [9]:
# Logical operators and or not

a=7
b=5

print(a>5 and b<8)
print(a>5 or b>5)
print(not a==7)
print(not a==5)

True
True
False
True

In [12]:
x= 2
print(not(x>3) and (x<10))

True

In [14]:
#### Take the name student, Marks of 5 Subjects out of 10 find average.

name=input("Enter Your Name")
s1=int(input("Enter S1 Mark"))
s2=int(input("Enter S2 Mark"))
s3=int(input("Enter S3 Mark"))
s4=int(input("Enter S4 Mark"))
s5=int(input("Enter S5 Mark"))
avg=s1+s2+s3+s4+s5/5
print("Student Name=",name)
print("Avrage of Marks",avg)

Enter Your Namedsf
Enter S1 Mark4
Enter S2 Mark5
Enter S3 Mark7
Enter S4 Mark8
Enter S5 Mark76
Student Name= dsf
Avrage of Marks 39.2

In [19]:
#### Using Split Fn
name,m1,m2,m3,m4,m5=input("Enter Your Name and Marks of Five Subject out of 10 * use Space for Seprate Name and Marks").split()
print(name,m1,m2,m3,m4,m5)

Enter Your Name and Marks of Five Subject out of 10 * use Space for Seprate Name and MarksGovind 1 2 3 4 5
Govind 1 2 3 4 5

In [23]:
#### Using Split Fn
name,m1,m2,m3,m4,m5=input("Enter Your Name and Marks of Five Subject out of 10 * use Space for Seprate Name and Marks").split(',')
print(name,m1,m2,m3,m4,m5)
avg=(float(m1)+float(m2)+float(m3)+float(m4)+float(m5))
print(avg)

Enter Your Name and Marks of Five Subject out of 10 * use Space for Seprate Name and MarksGovind,1,2,3,4,5
Govind 1 2 3 4 5
15.0

In [39]:
## Conditional Operator

a=15
if(a>8):
    print("a is greater then 5")

a is greater then 5

In [35]:
a=6
if(a>8):
    print(a)
else:
    print("Wrong")

Wrong

In [40]:

a=6
if(a>6):
    print("a is greater then 6")
elif(a==6):
    print("A is Equal to 6")
else:
    print("a is less then 6")

A is Equal to 6

In [54]:
#program : take 2 int values from user and find the largest


a,b=input("Enter A and B values").split(',')
     
a1=int(a)
b1=int(b)

if a1 > b1:
    print("A is Greater value from B")
elif a1==b1:
    print("Both No. are same")
else:
    print("B is Greater value from A")

Enter A and B values4,2
A is Greater value from B